FORMAT: 1A
HOST: https://atmobeta.iplantc.org/api/v1

# Atmosphere
Atmosphere is a private, self-service cloud computing platform that supports research efforts in the plant sciences
community.  It addresses the growing need for customized computational resources and provides the community with
access to:
  
  1. Infrastructure as a Service (IaaS), accessible through a web portal or by API
  2. Platform as a Service (PaaS), for developing and deploying software to the scientific community
  3. Software as a Service (SaaS), with preconfigured, frequently used analysis routines, algorithms, and
  datasets designed to accommodate computationally and data-intensive bioinformatics tasks.

<span style="color:orange;">NOTE: These API docs are currently IN DEVELOPMENT.</span>
 
## Useful Links

 - [Atmosphere Homepage](http://www.iplantcollaborative.org/ci/atmosphere)
 - [Atmosphere on GitHub](https://github.com/iPlantCollaborativeOpenSource/atmosphere)

# Group Tag -updated-
Tags are small labels users can apply to various resources and are primarily used to help focus searches.

## '/tag/{id}' [/tag/{id}]
A single Tag object.

Each Tag has the following properties:

- **id**: the id of the tag
- **name**: the name of the tag
- **description**: a description of what the tag means

+ Parameters
    + id (required, number, `1`) ... String `id` of the Tag.
    
+ Model (application/json)

    JSON representation of Tag Resource.

    + Body

            {
                "id": 5,
                "name": "Ubuntu",
                "description": "A description of Ubuntu"
            }

### Retrieve a Tag [GET]
+ Response 200 (application/json)

    ['/tag/{id}'][]

## '/tag' [/tag]
Collection of all Tags.

+ Model (application/json)

    JSON representation of Tags Collection Resource.

    + Body

            [
                {
                    "id": 1,
                    "name": "SpliceGrapher",
                    "description": "A description of SpliceGrapher"
                },
                {
                    "id": 2,
                    "name": "xGDBvm",
                    "description": "A description of xGDBvm"
                },
                {
                    "id": 3,
                    "name": "R",
                    "description": "A description of R"
                },
                {
                    "id": 4,
                    "name": "Featured",
                    "description": "Featured applications receive priority ordering over non-featured applications"
                },
                {
                    "id": 5,
                    "name": "Ubuntu",
                    "description": "A description of Ubuntu"
                }
            ]

### List all Tags [GET]
+ Response 200 (application/json)

    ['/tag'][]

### Create a Tag [POST]
Create a Tag.  You must specify the following properties:

- **name**: a name for the tag
- **description**: a description of the tag

+ Request (application/json)

        {
            "name": "Tag name",
            "description": "A description of the tag."
        }

+ Response 201 (application/json)

    ['/tag/{id}'][]

# Group Images -updated-
Images are snapshots of an instance at some point in time, including all programs and files.  They can be used to create
 a clone of an instance for others to use, or simply to save the state of an instance as a backup or recovery.

## '/images/{id}' [/images/{id}]
A single Image object.

Each Image has the following properties:

- **id**: unique id of the image
- **icon**: (optional) if a custom display icon has been uploaded for this image, this field will contain the relative
 path to that image (e.g. "/images/icon.png")
- **created_by**: username of the person who created the image
- **name**: name of the image
- **tags**: tags applied to the image (an array of strings).
- **description**: description of the image
- **start_date**: the date the image was created
- **end_date**: Atmosphere implements soft deletes for everything (or nearly everything).  Any images with an
 end_date before the moment the request was made will be filtered out of the result set.  however, end_dates can also be
 used to schedule resources deletion by setting them at a future date.  This can also be used to give someone access to
 a resource for a limited time (such as for a workshop session).
- **private**: if this field is true, it means the access to the image is limited to a group of people that includes you
- **versions**: represents all the previous versions of this image, which
  includes the current version.  It also shows which cloud providers that image version is available for.

+ Parameters
    + id (required, string, `bdc31c14-f807-11e3-8ef5-b2227cce2b54`) ... String `uuid` of the Image.
    
+ Model (application/json)

    JSON representation of Image Resource.

    + Body

            {
                "id": "bdc31c14-f807-11e3-8ef5-b2227cce2b54",
                "icon": null,
                "created_by": "username",
                "name": "Ubuntu 12.04 Updated NoGUI v1",
                "tags": [
                    "Ubuntu",
                    "Featured"
                ],
                "description": "Descriptiong for Ubuntu 12.04 Updated NoGUI v1",
                "start_date": "2014-02-05T01:03:27.903Z",
                "end_date": null,
                "private": false,
                "versions": [
                    {
                        "alias": "813557f2-f808-11e3-8ef5-b2227cce2b54",
                        "version": "1",
                        "start_date": "2014-02-04T23:56:40.077Z",
                        "end_date": null,
                        "provider": 1
                    }
                ]
            }

### Retrieve a Single Image [GET]
+ Response 200 (application/json)

    ['/images/{id}'][]
    
### Edit an Image [GET]
+ Response 200 (application/json)

    ['/images/{id}'][]

## '/images' [/images]
Collection of all Images.

This is both a public and private endpoint.  If accessed without being authenticated you will get a list of all public
 images.  If authenticated, you will also get any private images you have permission to use.

+ Model (application/json)

    JSON representation of the Images Collection.

    + Body

            {
                "count": 1,
                "next": null, 
                "previous": null, 
                "results": [
                    {
                        "id": "bdc31c14-f807-11e3-8ef5-b2227cce2b54",
                        "icon": null,
                        "created_by": "username",
                        "name": "Ubuntu 12.04 Updated NoGUI v1",
                        "tags": [
                            "Ubuntu",
                            "Featured"
                        ],
                        "description": "Descriptiong for Ubuntu 12.04 Updated NoGUI v1",
                        "start_date": "2014-02-05T01:03:27.903Z",
                        "end_date": null,
                        "private": false,
                        "versions": [
                            {
                                "alias": "813557f2-f808-11e3-8ef5-b2227cce2b54",
                                "version": "1",
                                "start_date": "2014-02-04T23:56:40.077Z",
                                "end_date": null,
                                "provider": 1
                            }
                        ]
                    }
                ]
            }

### List all Images [GET]

+ Response 200 (application/json)

    ['/images'][]

## Request an Image [/provider/{providerId}/identity/{identityId}/request_image/]
Images are created by sending a request to Atmosphere support.  This is the endpoint used to make that request.

+ Parameters
    + id (required, string, 'b94d4964-8de3-4965-a87a-f4cf44d33165') ... String `alias` of the Instance.
    + providerId (required, number, '4') ... Number `id` of the Provider.

### Request an Image [POST]
To request an image, you need to specify the following properties:

- **name**: the name of the image
- **instance**: alias property of the instance you want imaged
- **provider**: the id of the provider you want the image to be created for
- **description**: A description of the image for display purposes
- **software**: What software is installed on the instance
- **sys**: (**todo:** add details for what this field controls)
- **exclude**: Files on the instance that should be excluded from the image, like ssh keys
- **tags**: tags that should be applied to the image
- **vis**: This field can be one of public, private, or a user-list. If public, everyone can view and create an instance
  from the image.  If this field is private, the user who created the image will be able to see or launch it.  If user
  specific, only those users that are listed will be able to see or launch the image.

+ Request (application/json)

        {
            instance: "74089c18-f80a-11e3-8ef5-b2227cce2b54",
            ip_address: "127.0.0.1",
            provider: 1,
            description: "I would like to request an image of this instance for [reasons].",
            software: "Description of software installed on the machine.",
            sys: "I'm not sure what this field means.",
            exclude: "I do not need any files excluded from the image.",
            tags: [
                "ESD",
                "BGF",
                "apache2",
                "SpliceGrapher"
            ],
            vis: "public"
        }

# Group Profile
The Profile contains information about the authenticated user. Profile can be thought of as the 'entry-point' to the
 Atmosphere APIs. Once authenticated, a user can find their default provider and identity. The IDs for provider and
 Identity can be used to navigate the rest of the API.

## '/profile' [/profile]
A single Profile object.

Each Profile has the following properties:

- **user**: the id for the user this profile belongs to
- **username**: the username of the user this profile belongs to
- **email**: the users email address
- **is_staff**: true if the user is iPlant staff
- **is_superuser**: true if the user is a super user (comes with special privileges)
- **send_emails**: true if the user wants to be notified via email when instances they've launched are ready
- **icon_set**: the style of icons the user would like to see in the Atmosphere UI when no there is no custom icon to
 display


+ Model (application/json)

    JSON representation of Profile Resource.

    + Body

            {
                "user": 1,
                "username": "username",
                "email": "username@example.com",
                "is_staff": false,
                "is_superuser": false,
                "send_emails": true,
                "icon_set": "default",
            }
            
### Retrieve the Profile [GET]
+ Response 200 (application/json)

    ['/profile'][]
    
### Update the Profile [PATCH]
To update the profile, send a PATCH request that includes the fields you want to modify.  Currently the only modifiable
 fields are **send_emails** and **icon_set**

+ Request (application/json)

        {
            "send_emails": true,
            "icon_set": "robots"
        }

+ Response 200 (application/json)

    ['/profile'][]

# Group Identity
Identities are like user account information. A user has at least one identity per provider, and each identity
 contains information about how many resources can be consumed on that provider.  If a user has multiple identities
 under a single provider, it means they can allocate more resources by using a different identity.

## '/identity/{id}' [/identity/{id}]
A single Identity object.

Each Identity has the following properties:

- **id**: id of the Identity
- **provider_id**: the id of the provider this identity is for
- **quota**: object describing the resources that can be allocated on the provider under this identity
- **quota.mem**: the maximum amount of memory that can be allocated across all instances under this identity
- **quota.storage**: the maximum storage space that can be allocated across all volumes under this identity
- **quota.cpu**: the number of CPUs that can be allocated across all instance under this identity
- **quota.storage_count**: the maximum number of volumes that can be created under this identity

+ Parameters
    + id (required, number, 1) ... Number `id` of the Identity.
    
+ Model (application/json)

    JSON representation of Identity Resource.

    + Body

            {
                "id": 1,
                "provider_id": 1,
                "provider": "iPlant Cloud - Tucson",
                "quota": {
                    "mem": 256,
                    "suspended_count": 2,
                    "storage": 1000,
                    "cpu": 128,
                    "storage_count": 10
                }
            }

### Retrieve a Single Identity [GET]

+ Response 200 (application/json)

    ['/identity/{id}'][]
    
## '/identity' [/identity]
Collection of all Identities.

+ Model (application/json)

    JSON representation of Identity Collection Resource.

    + Body

            [
                {
                    "id": 1,
                    "provider_id": 1,
                    "provider": "iPlant Cloud - Tucson",
                    "quota": {
                        "mem": 256,
                        "suspended_count": 2,
                        "storage": 1000,
                        "cpu": 128,
                        "storage_count": 10
                    }
                }
                
            ]
            
### List all Identities [GET]
+ Response 200 (application/json)

    ['/identity'][]

# Group Instance -updated-
Instances are virtual machines that users have created from an image (application).  When a user creates an instance
 it immediately starts deducting AU's from their account.

## '/instance/{id}' [/instance/{id}]
A single Instance object.

Each Instance has the following properties:

- **id**: id
- **created_by**: username for the person who created the instance
- **status**: the state the instance is in (active, suspended, shutoff, etc.)
- **size_alias**: the id of the size resource for the instance (number of CPUs, RAM, and Disk Space)
- **machine_alias**: which image the instance was based off.  Machines are image versions.
- **ip_address**: IP address you can use to connect to the machine.  Address that start with 196, 178, or 10 are private,
 all others are public.  Instances with an IP address of 0.0.0.0 have not been assigned an IP address yet.
- **start_date**: the date the instance was created
- **has_shell**: true if a user can ssh into the instance
- **has_vnc**: true if a user can remote desktop into the instance
- **identity**: which account the instance deducts AU's from
- **name**: name of the instance
- **tags**: instance specific tags (array of strings)
    
+ Parameters
    + id (required, string, '26f0795e-f80b-11e3-8ef5-b2227cce2b54') ... String `id` of the Instance.
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.
    
+ Model (application/json)

    JSON representation of Instance Resource.

    + Body

            {
                "id": "26f0795e-f80b-11e3-8ef5-b2227cce2b54",
                "created_by": "username",
                "status": "active",
                "size_alias": "1",
                "machine_alias": "4a254940-f80b-11e3-8ef5-b2227cce2b54",
                "machine_name": "Ubuntu 13.04 w/Docker 0.9",
                "machine_alias_hash": "3f8add823804dc73b221a6c8308a8ab2",
                "ip_address": "127.0.0.1",
                "start_date": "2014-05-14T18:17:18Z",
                "token": null,
                "has_shell": false,
                "has_vnc": false,
                "identity": {
                    "id": 1,
                    "created_by": "username",
                    "provider": 1
                },
                "name": "Ubuntu 13.04 w/Docker 0.9",
                "tags": ["SpliceGrapher"],
                "projects": [
                    1
                ]
            }

### Retrieve an Instance [GET]
Get a specific instance.

+ Response 200 (application/json)

    ['/instance/{id}'][]
    
### Terminate an Instance [DELETE]
Terminate an instance.

+ Response 200 (application/json)

    ['/instance/{id}'][]
    
## '/instances/{id}/action' [/instances/{id}/action]

+ Parameters
    + id (required, string, '26f0795e-f80b-11e3-8ef5-b2227cce2b54') ... String `alias` of the Instance.
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.

### Suspend an Instance [POST]
Suspend a running instance.  This will also stop subtracting AU's.

+ Request (application/json)

        { 
            "action": "suspend"
        }

+ Response 200 (application/json)

        {
            "message": "The requested action <suspend> was run successfully",
            "object": null,
            "result": "success"
        }

### Resume an Instance [POST]
Resume a suspended instance.  This will also start subtracting AU's again.

+ Request (application/json)

        { 
            action: "resume"
        }

+ Response 200 (application/json)

        {
            message: "The requested action <resume> was run successfully",
            object: null,
            result: "success"
        }
        
### Stop an Instance [POST]
Stop a running instance.  Stopped instances continue to reduce the AU's.

+ Request (application/json)

        { 
            action: "start"
        }

+ Response 200 (application/json)

        {
            message: "The requested action <start> was run successfully",
            object: null,
            result: "success"
        }
        
### Start an Instance [POST]
Start a stopped instance.

+ Request (application/json)

        { 
            action: "stop"
        }

+ Response 200 (application/json)

        {
            message: "The requested action <stop> was run successfully",
            object: null,
            result: "success"
        }

## '/instances' [/instances]
Collection of all Instances for a specific identity and provider.

+ Parameters
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.
    
+ Model (application/json)

    JSON representation of Instances Collection Resource.

    + Body

            [
                {
                    "id": "26f0795e-f80b-11e3-8ef5-b2227cce2b54",
                    "created_by": "username",
                    "status": "active",
                    "size_alias": "1",
                    "machine_alias": "4a254940-f80b-11e3-8ef5-b2227cce2b54",
                    "machine_name": "Ubuntu 13.04 w/Docker 0.9",
                    "machine_alias_hash": "3f8add823804dc73b221a6c8308a8ab2",
                    "ip_address": "127.0.0.1",
                    "start_date": "2014-05-14T18:17:18Z",
                    "token": null,
                    "has_shell": false,
                    "has_vnc": false,
                    "identity": {
                        "id": 1,
                        "created_by": "username",
                        "provider": 1
                    },
                    "name": "Ubuntu 13.04 w/Docker 0.9",
                    "tags": ["SpliceGrapher"],
                    "projects": [
                        1
                    ]
                }
            ]
    
### List all Instances [GET]
Get a list of your instances created under the specific provider/identity.

+ Response 200 (application/json)

    ['/instances'][]
        
### Launch an Instance [POST]
Launch an instance of an application.  You must specify the following properties:

- **machine_alias**: the specific version of the application you'd like to launch an instance of.
- **size_alias**: the size of the virtual machine you need
- **name**: the name of your instance

+ Request (application/json)

        { 
            machine_alias: "237f983e-f80d-11e3-8ef5-b2227cce2b54"
            size_alias: "1"
            name: "Instance Name"
        }

+ Response 201 (application/json)

    ['/instance/{id}'][]

# Group Provider -updated-
Providers represent the different cloud providers managed by Atmosphere.

## '/providers/{id}' [/providers/{id}]
A single Provider object.

Each Provider has the following properties:

- **id**: unique id for the provider
- **name**: the display name for the provider
- **description**: a description of the provider


+ Parameters
    + id (required, number, '1') ... Number `id` of the Provider.

+ Model(application/json)

    JSON representation of Provider Resource

    + Body

            {
                "id": 1,
                "name": "planetTatooine",
                "description": "planetTatooine"
            }              


### Retrieve a Provider [GET]
+ Response 200 (application/json)

    ['/providers/{id}'][]

## '/providers' [/providers]
Collection of all Providers.

+ Model (application/json)

    JSON representation of Provider Collection Resource.

    + Body

            [
                {
                    "id": 1,
                    "name": "planetTatooine",
                    "description": "planetTatooine"
                },
                {
                    "id": 2,
                    "name": "stormCloud",
                    "description": "full of lightning"
                }
            ]
            
### List all Providers [GET]
+ Response 200 (application/json)

    ['/providers'][]

# Group Size
Sizes represent the different instance configurations offered by that cloud provider.  Each configuration includes the
 number of CPUs, memory, and disk space.  Sizes with fewer resources will consume AUs at a slower rate.

## Provider Sizes Collection [/provider/{providerId}/identity/{identityId}/size]
+ Parameters
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.
    
### List all Sizes [GET]
For a combination of provider and identity.

+ Response 200 (application/json)

        [
            {
                "occupancy": 0,
                "total": 1,
                "remaining": 1,
                "active": true,
                "alias": "1",
                "name": "m1.tiny",
                "provider": 1,
                "cpu": 1,
                "disk": 0,
                "root": 1,
                "mem": 512
            },
            {
                "occupancy": 0,
                "total": 1,
                "remaining": 1,
                "active": true,
                "alias": "2",
                "name": "m1.small",
                "provider": 1,
                "cpu": 1,
                "disk": 0,
                "root": 20,
                "mem": 2048
            },
            {
                "occupancy": 0,
                "total": 1,
                "remaining": 1,
                "active": true,
                "alias": "3",
                "name": "m1.medium",
                "provider": 1,
                "cpu": 2,
                "disk": 0,
                "root": 40,
                "mem": 4096
            }
        ]
        
## Provider Size [/provider/{providerId}/identity/{identityId}/size/{id}]
A single Size object (in the specified provider) with all its details.

+ Parameters
    + id (required, string, 'b24ce221-1ed4-4317-av7q-b4yf4q4qe3239') ... String `alias` of the Size.
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.

### Retrieve a Size [GET]
+ Response 200 (application/json)

    + Body

            {
                "occupancy": 0,
                "total": 1,
                "remaining": 1,
                "active": true,
                "alias": "1",
                "name": "m1.tiny",
                "provider": 1,
                "cpu": 1,
                "disk": 0,
                "root": 1,
                "mem": 512
            }

# Group Volume -updated-
Volumes are network based storage that a user can attach to any instance.  They can then be detached and attached to a
 different instance.

## Volume [/provider/{providerId}/identity/{identityId}/volume/{id}]
A single Volume object.

Each Volume has the following properties:

- **id**: unique id for the volume
- **created_by**: user id of the person who created the volume
- **name**: name of the volume
- **description**: description of the volume
- **status**: status of the volume (detaching, attaching, available or in-use)
- **size**: size of the volume in Gigabytes
- **attach_data**: if the volume is attached to an instance, provides details about which instance it's attached to and
 where the volume is mounted to on the instance
- **provider**: provider the volume is created on
- **identity**: identity that created the volume

+ Parameters
    + id (required, string, '13138b97-786a-4e57-9acc-5d41cfd21f75') ... String `alias` of the Volume.
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.
    
+ Model (application/json)

    JSON representation of Volume Resource.

    + Body

            {
                "id": "232333c94-7864-4157-9cq-5441ff321F11",
                "created_by": 1,
                "name": "My_Other_Volume",
                "description": "",
                "status": "available",
                "size": 1,
                "attach_data": {},
                "provider": 1,
                "identity": {
                    "id": 1,
                    "created_by": "HanSolo",
                    "provider": 1
                },
                "projects": [
                    1
                ],
                "start_date": "2014-05-13T00:24:58Z"
            }

### Retrieve a Volume [GET]
+ Response 200 (application/json)

    [Volume][]
    
### Destroy a Volume [DELETE]
Destroy a volume.

+ Response 200 (application/json)

    [Volume][]
    
## Volume Actions [/provider/{providerId}/identity/{identityId}/instance/{id}/action]

+ Parameters
    + id (required, string, '26f0795e-f80b-11e3-8ef5-b2227cce2b54') ... String `id` of the Instance.
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.

### Attach a Volume [POST]
Attach a volume to an instance.

+ Request (application/json)

        { 
            action: "attach_volume",
            volume_id: "21637611-d75c-4c94-a761-dcd58ed8324b"
        }

+ Response 200 (application/json)

        {
            message: "The requested action <attach_volume> was run successfully",
            object: null,
            result: "success"
        }

### Detach a Volume [POST]
Detach a volume from an instance.

+ Request (application/json)

        { 
            action: "detach_volume",
            volume_id: "21637611-d75c-4c94-a761-dcd58ed8324b"
        }

+ Response 200 (application/json)

        {
            message: "The requested action <detach_volume> was run successfully",
            object: null,
            result: "success"
        }

## Volumes Collection [/provider/{providerId}/identity/{identityId}/volume]
Collection of all Volumes.

+ Parameters
    + providerId (required, number, '1') ... Number `id` of the Provider.
    + identityId (required, number, '1') ... Number `id` of the Identity.
    
+ Model (application/json)

    JSON representation of Volumes Collection Resource.

    + Body

            [
                {
                    "id": "132333c94-7864-4157-9cq-5441ff321F11",
                    "created_by": 1,
                    "name": "My_First_Volume",
                    "description": "",
                    "status": "available",
                    "size": 1,
                    "attach_data": {},
                    "provider": 1,
                    "identity": {
                        "id": 1,
                        "created_by": "HanSolo",
                        "provider": 1
                    },
                    "projects": [
                        1
                    ],
                    "start_date": "2014-05-13T00:24:58Z"
                },
                {
                    "status": "in-use",
                    "attach_data": {
                        "device": "/dev/vdc",
                        "instanceId": "bac30113-423d-44bd-8d7a-41136e9ers34",
                        "serverId": "abc30021-49d7-3ebg-837p-2712623r3732",
                        "id": "1113297-786a-4e57-9acc-5d41cfd21f75",
                        "volumeId": "123138b97-282b-2r55-8ddg-5d4ddfde1f76"
                    },
                    "identity": {
                        "id": 1,
                        "created_by": "HanSolo",
                        "provider": 1
                    },
                    "alias": "13138b97-786a-4e57-9acc-5d41cfd21f76",
                    "provider": 1,
                    "size": 10,
                    "name": "My_Second_Volume",
                    "description": "",
                    "created_by": 1,
                    "start_date": "2014-05-13T00:24:58Z"
                }
            ]
    
### List all Volumes [GET]
+ Response 200 (application/json)

    [Volumes Collection][]

### Create a Volume [POST]
Create a volume.  You must specify the following properties:

- **name**: the name of the volume
- **size**: the size of the volume in Gigabytes
- **description**: a description of the volume

+ Request (application/json)

        {
            "name": "New Volume",
            "description": "Description of new volume",
            "size": 1
        }

+ Response 201 (application/json)

    [Volume][]

# Group Project -updated-
Projects are a way for users to group related resources.  Right now users can add Instances and Volumes to a group, but
 we also plan to support adding documents, hyperlinks, Images, and letting users control access to their
 Projects (i.e. adding users, removing users, and specifying permissions such as read-only access or modifying content)

## 'project/{id}' [/project/{id}]
A single Project object.

Each Project has the following properties:

- **id**: the id of the project
- **owner**: username of the person who created the project
- **image**: applications (images) in the project
- **instances**: instances in the project
- **volumes**: volumes in the project
- **name**: project name
- **description**: project description

+ Parameters
    + id (required, number, '1') ... Number `id` of the Project.
    
+ Model (application/json)

    JSON representation of Project Resource.

    + Body

            {
                "id": 1,
                "owner": "HanSolo",
                "name": "Project 1",
                "description": "This is my project description",
                "images": [],
                "instances": [
                    {
                        "alias": "26f0795e-f80b-11e3-8ef5-b2227cce2b54",
                        "alias_hash": "b30430ab304a637e0fac9a0322edf7a3",
                        "created_by": "username",
                        "status": "active",
                        "size_alias": "1",
                        "machine_alias": "4a254940-f80b-11e3-8ef5-b2227cce2b54",
                        "machine_name": "Ubuntu 13.04 w/Docker 0.9",
                        "machine_alias_hash": "3f8add823804dc73b221a6c8308a8ab2",
                        "ip_address": "127.0.0.1",
                        "start_date": "2014-05-14T18:17:18Z",
                        "token": null,
                        "has_shell": false,
                        "has_vnc": false,
                        "identity": {
                            "id": 1,
                            "created_by": "username",
                            "provider": 1
                        },
                        "name": "Ubuntu 13.04 w/Docker 0.9",
                        "tags": ["SpliceGrapher"],
                        "projects": [
                            1
                        ]
                    }
                ],
                "volumes": [
                    {
                        "alias": "132333c94-7864-4157-9cq-5441ff321F11",
                        "created_by": 1,
                        "name": "My_First_Volume",
                        "description": "",
                        "status": "available",
                        "size": 1,
                        "attach_data": {},
                        "provider": 1,
                        "identity": {
                            "id": 1,
                            "created_by": "HanSolo",
                            "provider": 1
                        },
                        "projects": [
                            1
                        ],
                        "start_date": "2014-05-13T00:24:58Z"
                    }
                ],
                "start_date": "2014-04-11T17:51:11.511Z",
                "end_date": null
            }

### Retrieve a Project [GET]
+ Response 200 (application/json)

    ['project/{id}'][]
        
### Update a Project [PUT]
+ Request (application/json)

        {
          "description": "A new description for my project."
        }

+ Response 200 (application/json)

    ['project/{id}'][]
    
### Delete a Project [DELETE]
Delete a Project.  Projects can only be deleted once all resources (instances and volumes) have been transferred out of
 it or deleted.  Attempting to delete a project with resources still inside will return a status code of 409 (conflict)

+ Response 200 (application/json)

    ['project/{id}'][]

## Projects Collection [/project]
Collection of all Projects.

+ Model (application/json)

    JSON representation of Projects Collection Resource.

    + Body

            [
                {
                    "id": 1,
                    "owner": "HanSolo",
                    "name": "Project 1",
                    "description": "This is my project description",
                    "images": [],
                    "instances": [
                        {
                            "alias": "26f0795e-f80b-11e3-8ef5-b2227cce2b54",
                            "alias_hash": "b30430ab304a637e0fac9a0322edf7a3",
                            "created_by": "username",
                            "status": "active",
                            "size_alias": "1",
                            "machine_alias": "4a254940-f80b-11e3-8ef5-b2227cce2b54",
                            "machine_name": "Ubuntu 13.04 w/Docker 0.9",
                            "machine_alias_hash": "3f8add823804dc73b221a6c8308a8ab2",
                            "ip_address": "127.0.0.1",
                            "start_date": "2014-05-14T18:17:18Z",
                            "token": null,
                            "has_shell": false,
                            "has_vnc": false,
                            "identity": {
                                "id": 1,
                                "created_by": "username",
                                "provider": 1
                            },
                            "name": "Ubuntu 13.04 w/Docker 0.9",
                            "tags": ["SpliceGrapher"],
                            "projects": [
                                1
                            ]
                        }
                    ],
                    "volumes": [
                        {
                            "alias": "132333c94-7864-4157-9cq-5441ff321F11",
                            "created_by": 1,
                            "name": "My_First_Volume",
                            "description": "",
                            "status": "available",
                            "size": 1,
                            "attach_data": {},
                            "provider": 1,
                            "identity": {
                                "id": 1,
                                "created_by": "HanSolo",
                                "provider": 1
                            },
                            "projects": [
                                1
                            ],
                            "start_date": "2014-05-13T00:24:58Z"
                        }
                    ],
                    "start_date": "2014-04-11T17:51:11.511Z",
                    "end_date": null
                },
                {
                    "id": 2,
                    "owner": "HanSolo",
                    "name": "Project 2",
                    "description": "My second project.",
                    "images": [],
                    "instances": [],
                    "volumes": [],
                    "start_date": "2014-05-01T19:27:40.910Z",
                    "end_date": "2014-05-02T19:47:30.055Z"
                }
            ]

### List all Projects [GET]
+ Response 200 (application/json)

    [Projects Collection][]

### Create a Project [POST]
Create a Project.  You must specify the following properties:

- **name**: a name for the project
- **description**: a description of the project

+ Request (application/json)

        {
            "name": "My Awesome Project",
            "description": "A description of my awesome project."
        }

+ Response 201 (application/json)

    ['project/{id}'][]

## Project Instances [/project/{id}/instance]
The Instances in the Project.

+ Parameters
    + id (required, number, '1') ... Number `id` of the Project.
    
### Retrieve a Project's Instances [GET]
+ Response 200 (application/json)

    [Instances Collection][]
    
## Project Instance [/project/{project_id}/instance/{instance_id}]
The endpoint to add or remove an Instance from a Project.

+ Parameters
    + project_id (required, number, '1') ... Number `id` of the Project.
    + instance_id (required, string, '26f0795e-f80b-11e3-8ef5-b2227cce2b54') ... Number `alias` of the Instance.
    
### Add Instance to Project [PUT]
+ Response 200 (application/json)

    [Instance][]
    
### Remove Instance from Project [DELETE]
+ Response 204 (application/json)
            
## Project Volumes [/project/{id}/volume]
The Volumes in the Project.

+ Parameters
    + id (required, number, '1') ... Number `id` of the Project.
    
### Retrieve a Project's Volumes [GET]
+ Response 200 (application/json)

    [Volumes Collection][]
    
## Project Volume [/project/{project_id}/volume/{volume_id}]
The endpoint to add or remove a Volume from a Project.

+ Parameters
    + project_id (required, number, '1') ... Number `id` of the Project.
    + volume_id (required, string, '13138b97-786a-4e57-9acc-5d41cfd21f75') ... Number `alias` of the Volume.
    
### Add Volume to Project [PUT]
+ Response 200 (application/json)

    [Volume][]
    
### Remove Volume from Project [DELETE]
+ Response 204 (application/json)

# Group Non-Project Resources
Because the API does enforce the concept that resources are in projects, we've provided a way to find out if the user
 has any projects that are not associated with a project.

## Null Project [/project/null]
This endpoint returns a list of all resources that are not associated with a project.

Each Project has the following properties:

- **applications**: images that are not in a project
- **instances**: instances that are not in a project
- **volumes**: volumes that are not in a project
    
+ Model (application/json)

    JSON representation of Null Project Resource.

    + Body

            {
                "applications": [],
                "instances": [
                    {
                        "alias": "26f0795e-f80b-11e3-8ef5-b2227cce2b54",
                        "alias_hash": "b30430ab304a637e0fac9a0322edf7a3",
                        "created_by": "username",
                        "status": "active",
                        "size_alias": "1",
                        "machine_alias": "4a254940-f80b-11e3-8ef5-b2227cce2b54",
                        "machine_name": "Ubuntu 13.04 w/Docker 0.9",
                        "machine_alias_hash": "3f8add823804dc73b221a6c8308a8ab2",
                        "ip_address": "127.0.0.1",
                        "start_date": "2014-05-14T18:17:18Z",
                        "token": null,
                        "has_shell": false,
                        "has_vnc": false,
                        "identity": {
                            "id": 1,
                            "created_by": "username",
                            "provider": 1
                        },
                        "name": "Ubuntu 13.04 w/Docker 0.9",
                        "tags": ["SpliceGrapher"],
                        "projects": [
                            1
                        ]
                    }
                ],
                "volumes": [
                    {
                        "alias": "132333c94-7864-4157-9cq-5441ff321F11",
                        "created_by": 1,
                        "name": "My_First_Volume",
                        "description": "",
                        "status": "available",
                        "size": 1,
                        "attach_data": {},
                        "provider": 1,
                        "identity": {
                            "id": 1,
                            "created_by": "HanSolo",
                            "provider": 1
                        },
                        "projects": [
                            1
                        ],
                        "start_date": "2014-05-13T00:24:58Z"
                    }
                ]
            }

### Retrieve a Project [GET]
+ Response 200 (application/json)

    [Null Project][]

# Group Maintenance
Maintenance Messages are a way to inform the user of current or planned maintenance desks and possible downtown for the
 Atmosphere cloud.

##  '/maintenance/{id}' [/maintenance/{id}]
A single Maintenance Message object.

Each Maintenance Message has the following properties:

- **id**: the id of the message
- **title**: a short title for the type of outage (planned, unplanned, network outage, maintenance, etc.)
- **message**: the message
- **provider_id**: the id of the provider this message is for
- **disable_login**: whether login is disabled for the provider while this maintenance is occurring

+ Parameters
    + id (required, Number, 1) ... Number `id` of the Maintenance Message.
    
+ Model (application/json)

    JSON representation of Maintenance Message Resource.

    + Body

            {
                "id": 1,
                "title": "Planned Maintenance",
                "message": "Atmosphere Provider Cloud is under maintenance.",
                "provider_id": 1,
                "disable_login": true,
                "start_date": "2014-07-21T06:05:40Z",
                "end_date": null
            }

### Retrieve a Maintenance Message [GET]
+ Response 200 (application/json)

    [ '/maintenance/{id}'][]

## '/maintenance?active=true' [/maintenance?active=true]
Collection of all Maintenance Messages. You must pass in active=true if you only want the current messages.

+ Model (application/json)

    JSON representation of Maintenance Message Collection Resource.

    + Body

            [
                {
                    "id": 1,
                    "title": "Planned Maintenance",
                    "message": "Atmosphere Provider Cloud is under maintenance.",
                    "provider_id": 1,
                    "disable_login": true,
                    "start_date": "2014-07-21T06:05:40Z",
                    "end_date": null
                }
            ]

### List all Maintenance Messages [GET]
+ Response 200 (application/json)

    ['/maintenance?active=true'][]

# Group Instance History -updated-
This endpoint returns a list of all instances that a user has launched since the time their account was created.

## Instance History [/instance_history/{id}]
A single Instance History object.

Each Instance History has the following properties:

- **id**: id
- **name**: name of the instance
- **machine_alias**: which image the instance was based off.  Machines are image versions.
- **machine_name**: the name of the image the instance was based off.
- **size_alias**: the size of the instance when launched
- **created_by**: username for the person who created the instance
- **ip_address**: IP address you can use to connect to the machine.  Address that start with 196, 178, or 10 are private,
 all others are public.  Instances with an IP address of 0.0.0.0 have not been assigned an IP address yet.
- **provider**: which cloud the instance was launched on
- **tags**: instance specific tags (array of strings)
- **start_date**: the date the instance was launched
- **end_date**: the date the instance was deleted

    
+ Parameters
    + id (required, string, '36f0795e-f80b-11e3-8ef5-b2227cce2b55') ... String `alias` of the Instance.
    
+ Model (application/json)

    JSON representation of Instance History Resource.

    + Body

            {
                "id": "36f0795e-f80b-11e3-8ef5-b2227cce2b55",
                "name": "Ubuntu 13.04 w/Docker 0.9",
                "machine_alias": "75fdfca4-d49d-4b2d-b919-a3297bc6d7ae",
                "machine_name": "Ubuntu 13.04 w/Docker 0.9",
                "size_alias": "1",
                "created_by": "username",
                "ip_address": "127.0.0.1",
                "provider": "iPlant Cloud - Tucson",
                "tags": ["SpliceGrapher"],
                "start_date": "2014-08-01T20:10:52Z",
                "end_date": null
            }

### Retrieve an Instance History [GET]
Get a specific instance history object.

+ Response 200 (application/json)

    [Instance History][]

## Instance History Collection [/instance_history]
The history of all of the user's instances since the date their account was created.
    
+ Model (application/json)

    JSON representation of Instances History Collection Resource.

    + Body

            {
                "count": 1,
                "next": null,
                "previous": null,
                "results": [
                    {
                        "id": "36f0795e-f80b-11e3-8ef5-b2227cce2b55",
                        "name": "Ubuntu 13.04 w/Docker 0.9",
                        "machine_alias": "75fdfca4-d49d-4b2d-b919-a3297bc6d7ae",
                        "machine_name": "Ubuntu 13.04 w/Docker 0.9",
                        "size_alias": "1",
                        "created_by": "username",
                        "ip_address": "127.0.0.1",
                        "provider": "iPlant Cloud - Tucson",
                        "tags": ["SpliceGrapher"],
                        "start_date": "2014-08-01T20:10:52Z",
                        "end_date": null
                    }
                ]
            }
    
### List all Instances [GET]
Get a list of all the instances the user has created.

+ Response 200 (application/json)

    [Instance History Collection][]
